## --- Compilación y binarios ---
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

## --- Visual Studio ---
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## --- Visual Studio Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## --- Paquetes y Restauración ---
*.nupkg
*.snupkg
**/[Pp]ackages/
*.nuget.props
*.nuget.targets

## --- Cobertura de código y resultados de pruebas ---
*.coverage
*.coveragexml
TestResults/

## --- Carpetas y archivos de publicación (dotnet publish) ---
[Pp]ublish/
**/publish/
[Pp]ublishOutput/
**/PublishOutput/
*.deploymanifest